.input {
  border: 1px solid red;
}
.show {
  opacity: 1;
  transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.hide {
  /* opacity: 0;
  transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  transition: all 1s ease-in; */
  animation: hide-item 1s ease-in forwards;
}

@keyframes hide-item {
  0% {
    opacity: 1;
    color: red;
  }
  50% {
    opacity: .5;
    color: yellow;
  }
  100% {
    opacity: 0;
    color: blue;
  }
}

.fade-enter, .fade-apper{
  opacity: 0;
}; 

.fade-enter-active, .fade-apper-active{
  opacity: 1;
  transition: opacity 1s ease-in;
}; 

.fade-enter-done, .fade-apper-done{
  opacity: 1;
  color: red;
}

.fade-exit{
  opacity: 1;
};
.fade-exit-active{
  opacity: 0;
  transition: opacity 1s ease-in;
};
.fade-exit-done{
  opacity: 0;
}